<table class="table table-striped">
  <tr class="row">
    <th colspan="3">Body:</th>
    <th>User:</th>
  </tr>
  <tr class="row">
    <td><%= @comment.body %></td>
    <td><%= link_to 'Edit', edit_comment_path(@comment) if can? :update, @comment %></td>
    <td><%= link_to 'Delete', @comment, method: :delete, data: {confirm: 'Are you sure?'} if can? :destroy, @comment %></td>
    <td><%= link_to @comment.user.name, @comment.user %></td>
  </tr>
</table>
