<h5><%= link_to 'User Comments', comments_path(user: user) %></h5>
<h5><%= link_to 'User Goals', goals_path(user: user) %></h5>
<h5><%= link_to 'User Subscriptions', subscriptions_path(user: user) %></h5>
<h5><%= link_to 'User Tokens', user_tokens_path(user) %></h5>
