<table class="table table-striped">
  <tr class="row">
    <th>Goal:</th>
    <th colspan="3">Value:</th>
  </tr>
  <% @user.scores.accessible_by(current_ability).each do |score| %>
      <tr class="row">
        <td><%= link_to score.goal.title, score.goal %></td>
        <td><%= score.value %></td>
        <td><%= link_to 'Edit', edit_score_path(score) if can? :update, score %></td>
        <td><%= link_to 'Delete', score, method: :delete,
                        data: {confirm: 'Are you sure?'} if can? :destroy, score %></td>
      </tr>
  <% end %>
</table>
