<h5>
  <% if current_page?(token) %>
      <i class="glyphicon glyphicon-search"></i> Show
  <% else %>
      <%= link_to token do %>
          <i class="glyphicon glyphicon-search"></i> Show
      <% end %>
  <% end %>
  <% if can? :destroy, token %>
      | <%= link_to token, method: :delete, data: {confirm: 'Are you sure?'} do %>
          <i class="glyphicon glyphicon-trash"></i> Delete
      <% end %>
  <% end %>
</h5>
