<% @tokens.each do |token| %>
    <div class="row">
      <div class="col-xs-12">
        <h4><%= link_to token.provider, token %></h4>
        User: <%= link_to token.user.name, token.user %>
        <br>
        <%= link_to 'Show', token %>
        <%= link_to 'Delete', token, method: :delete, data: {confirm: 'Are you sure?'} if can? :destroy, token %>
      </div>
    </div>
    <hr>
<% end %>
