<%= content_for :title, t('about.title') %>

<% title = 'About' %>

<%= render layout: 'layouts/jumbotron', locals: {title: title, paginatable: nil} do %>
    <p>
      This web application was created by
    </p>
<% end %>