<h5>
  <% if subscription.completed? %>
      <i class="glyphicon glyphicon-ok"></i> Completed
  <% else %>
      <% if can? :destroy, subscription %>
          <%= link_to(subscription, method: :delete) do %>
              <i class="glyphicon glyphicon-minus"></i> Unsubscribe
          <% end %>
      <% end %>
      <% if can? :update, subscription %>
          | <%= link_to subscription_path(subscription, subscription: {completed: true}), method: :put do %>
              <i class="glyphicon glyphicon-ok"></i> Complete
          <% end %>
      <% end %>
  <% end %>
</h5>
