<table class="table table-striped">
  <tr class="row">
    <th colspan="3">Completed:</th>
    <th>Goal:</th>
  </tr>
  <tr class="row">
    <td><%= @subscription.completed? %></td>
    <td><%= link_to 'Edit', edit_subscription_path(@subscription) if can? :update, @subscription %></td>
    <td><%= link_to 'Delete', @subscription, method: :delete,
                    data: {confirm: 'Are you sure?'} if can? :destroy, @subscription %></td>
    <td><%= link_to @subscription.goal.title, @subscription.goal %></td>
  </tr>
</table>
