<% if @subscriptions %>
    <li class="active"><%= link_to 'All Subscriptions', goal_subscriptions_path(@goal) %></li>
<% else %>
    <li><%= link_to 'All Subscriptions', goal_subscriptions_path(@goal) %></li>
<% end %>
