<table class="table table-striped">
  <tr class="row">
    <th>User:</th>
    <th colspan="3">Completed:</th>
  </tr>
  <% @goal.subscriptions.accessible_by(current_ability).each do |subscription| %>
      <tr class="row">
        <td><%= link_to subscription.user.name, subscription.user %></td>
        <td><%= subscription.completed? %></td>
        <td><%= link_to 'Edit', edit_subscription_path(subscription) if can? :update, subscription %></td>
        <td><%= link_to 'Delete', subscription, method: :delete,
                        data: {confirm: 'Are you sure?'} if can? :destroy, subscription %></td>
      </tr>
  <% end %>
</table>
