<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= title %>
    </h3>
  </div>
  <%= yield %>
  <% if resource.present? %>
      <div class="panel-footer"><%= paginate resource %></div>
  <% end %>
</div>
