<li class="active dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Token <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <% if current_page?(@token) %>
        <li class="active"><%= link_to 'Show Token', @token %></li>
    <% else %>
        <li><%= link_to 'Show Token', @token %></li>
    <% end %>
    <% if can? :destroy, @token %>
        <li><%= link_to 'Delete Token', @token, method: :delete, data: {confirm: 'Are you sure?'} %></li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to 'Token User', @token.user %></li>
  </ul>
</li>
